{% extends 'base.html.twig' %}

{% block title %}Hello AdminCategoryController!{% endblock %}

{% block body %}
    <div class="container">
        <h2>Contextual Classes</h2>

    </div>
{% endblock %}