###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/.env
/public/bundles/

/vendor/
###< symfony/framework-bundle ###

###> squizlabs/php_codesniffer ###
/.phpcs-cache
/phpcs.xml
###< squizlabs/php_codesniffer ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###

###> eclipse ###
/.project
/.buildpath
/.settings
###< eclipse ###

###> phpstorm ###
/.idea
.DS_Store
###< phpstorm ###

