{% extends 'base.html.twig' %}

{% block title %}Candidature{% endblock %}

{% block body %}

    <div class="row" style="margin: 150px auto;">
        <div class="col-sm-8 col-sm-offset-2 text-center">
            <h1>Candidature à l'annonce {{ advert.title }}</h1>
            {{ form_start(formApplication, {
                'Attr': {'class': 'form-signin'}
            }) }}
            {{ form_row(formApplication.content, {'label': 'Candidature *', 'attr': {'placeholder': 'Entrez votre candidature'}}) }}
            <button type="submit" class="btn btn-success">Envoyer</button>
            {{ form_end(formApplication) }}
        </div>
    </div>

{% endblock %}
